.content{
  font-size: 20px;
  min-height: 100vh;

 
 }
 .container-wrapper
 {
     padding-left: 5%;

  
 }
 .form-group{
     display: flex;
     flex-direction: column;
     margin: 15px 0;
 }
 .hero-all
 {
     background-color: #0063EA; 
    
 }
 
 .main-all {
     margin-left: 200px; /* Same as the width of the sidebar */
     padding: 0px 10px;
     background-color: #fff;
     border-top-left-radius: 80px 80px;
     border-bottom-left-radius:80px 80px ;
  
   }
   
   /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
   @media screen and (max-height: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 18px;}
   }
   select{
     width: 50%;
   }
   .btn-data
   {
     width: 201px;
     height: 32px;
    color: #fff;
     background-color: #0063EA; 
     border-radius: 5%;
     border: none;
   }