

.risk_parce{
    height: 10%;
    width: 100%;
}

.low_risk{
    background-color: rgba(0, 128, 0, 0.719);
}

.medium_risk {
    background-color: rgba(255, 255, 0, 0.733);
}

.high_risk {
    background-color: rgb(201, 199, 105);
}

.very_high_risk {
    background-color: rgba(216, 0, 0, 0.986);
}

.no_risk{
    background-color: rgba(0, 128, 0, 0.719);
}

.yes_risk{
    background-color: rgba(216, 0, 0, 0.986);
}