#mst_content{
    display: flex;
}

.mst_label{
     width: 20%; 
    text-align: left;
}
/* .group-mst
{

} */
.selection-bfm
{
    width: 20%;
}
.form-input
{
    width: 25%;
}
@media screen and (max-width: 1480px) {
   .form-input {
width: 75%;
    }
}
