.sub
{
    margin: 2% 0;
    color: black;
  
}

.profile-input{
 width: 500px;
border: none;
border-bottom: 2px solid black;
}
/* .profile-main
{
    margin-left:30%;

} */
.profile-main h1{
 
  
    margin-bottom: 55px;

}
@media only screen and (max-width: 768px) {
    
    .sub{

        margin: 5% 0;
    }
    input{width: 200px;}
    .profile-main{margin-left: 90px;}
}