.btn-reg
{
    position: absolute;
    background-color:#198754;
    width: 150px;
    border: none;
    border-radius: 5px;
    margin-left: 25%;
    padding: 10px 10px;
    color: #fff;
}
.main-reg
{
    position:relative;
    top: 10%;
    margin-left: 150px;
    font-size: 18px;
    height: 813px;
    
}
.reg-container
{
    box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.2);
    background-color: #0063EA;
    width: 1054px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.reg-card
{
    width: 727px;
    height: 813px;
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-color: #fff;
    float: right;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius:80px 80px ;
}
.reg-container .welcome
{
  top: 75%;
  left: 15%;  
  color: #fff;
}

.welcome .logo-login 
{
    top: -255%;
}
.txt-signup
{
    bottom: 15%;
    /* margin-left: 2%; */
    margin-top: 20px;
    text-align: center;
}


/*-------------------------------------------------------------------*/


.register-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-popup-inner{
    padding: 70px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    position: relative;
}

.popup-inner-header {
    position: absolute;
    font-size: 2em;
    transform: translate(-50%, -50%);
    text-align: right;
    top: 15px;
    right: 15px;
}

.popup-btn-rotate:hover{
    cursor: pointer;
}
