

.card-rows {
    display: inline-block;
    margin: 5px;
}

.card {
    display: flex;
    /* text-align: center;
    justify-content: center;
    align-items: center
    left: auto;
    right: auto;; */
    width: 400px;
    height: 300px;
}

.card-circle {
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 50%;
    justify-content: center;
    border: rgb(119, 118, 118) solid 1px;
}

.sanitary_score {
    padding: 30px;
    font-size: 1.2em;
    font-weight: 400;
}


/* .catchment,
.risk_type {
    
} */

.municipal-name {
    text-align: center;
    font-weight: 500;
}

.report-header select {
    width: 400px;
}

.report-header .btn-search-report {
    width: 200px;
    height: 40px;
    margin: 0 10px;
    border-radius: 12px;
    margin-left: 50px;
}

table,
.survey_td,
.survey_th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.survey_th,
.survey_td {
    padding: 5px;
}

._th, ._td{
    width: 40%;
}


.search_date{
    display: flex;
}

.survey_date{
    margin: 0 25px;
    width: 15%;
   
    flex-direction: row;
}

/* .survey_province{
    margin: 0 25px;
    width: 15%;
    
} */
.survey_date_label{
    width: 50px;
    padding: 2px 0;
}

#filter_by_province{
    margin-top: 20px;
    padding: 20px 0;
}