.userHeader
{
    text-align: right;
    margin-right: 10px;
    padding: 50px;
    font-size: 1.2em;
    color:#0059D4;
    ;
}

.user_profile{
    margin-right: 20px;
}
@media (max-width: 768px) {

    .userHeader{
        font-size: 0.5em;
      
    }
    .user_profile
    {
        font-size: 0.9em;
       left: 0;
       right: 0;
       margin-right: 0;
    }
}