.filter{
    display: flex;
}

.select_filter{
    display: flex;
    width: 30%;
    justify-content: center;
}

.select_filter label{
    margin-right: 25px;
    font-size: 1.2em;
    font-weight: 500;
}

.select_filter .filter{
    width: 230px;
}

.filter-input-form{
    width: 50%;
    text-align: center;
}

.filter-search-btn{
    width: 20%;
    text-align: center;
}

.filter-button{
    width: 100%;
    border-radius: 10px;
}

.form-date{
    margin: 0 10px;
    width: 200px;
}

.filter_div{
    padding: 10px;
}

.display_user_log{
    margin-top: 50px;
}