.sidebar {

    width: 20%;
    height: 100%;
    color: whitesmoke;
    font-size: 18px;
}

.sideBar h2{
    margin-left: 10px;
}


.sideBar img{
    height: 70%;
    width: 30%;
}

.sidebar-subs {
    margin: 20% 0;
    text-align: center;
}

.side-icon {
    font-size: 1rem;
    vertical-align: middle;
}

.sidenav {
    /* background-color: #0063EA; */
  
    background-color: transparent !important;
    height: 100vh;
    /* Full-height: remove this if you want "auto" height */
    width: 200px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    padding-top: 20px;

}

.sidenav a {
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
    color: #fff;
}

.logo {
    font-size: 16px;
    color: #fff;
    font-weight: 500;

}

.inner-sidebar {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    img {
        width: 25px;
    }

    .logo {
        font: 10px;
        font-weight: 100;

    }

    .sidebar {

        width: 20%;
        height: 100vh;
    }

    .sidebar-subs {
        margin: 0;
        text-align: center;
    }

    .sidebar-subs a {

        display: inline-block;
    }

    .sidebar-subs a .icon {
        vertical-align: middle;
    }

    a.flex {
        display: inline-flex;
    }

    .side-icon {
        font-size: 1.2rem;
        vertical-align: middle;
    }

    .sidenav {

        height: auto;
        /* Full-height: remove this if you want "auto" height */
        width: 100px;
        /* Set the width of the sidebar */
        position: fixed;
        /* Fixed Sidebar (stay in place on scroll) */
        height: 100vh;

    }

    .sidenav a {
        text-decoration: none;

        font-size: 10px;

    }

    .logo {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }

}