
.all-contents 
{
    background-size: 100%;
    height: 100%;
    padding: 3.82%;
    background-image: url('./back.PNG');
} 
.background{
    background-color: #0063EA;
    height: 100vh;
}

.login-container
{
    box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.2);
    background-color: #0063EA;
    width: 1054px;
    height: 613px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.welcome
{
    width: 30%;
}
.login-card
{
    width: 70%;
    height: 100%;
    margin-left: 30%; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-color: #fff;
    float: right;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius:80px 80px ;
    
}
.login-txt 
{
    left: 20%;
    top: 20%;
}
.input-login {

   width: 90%;
    padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid black;
}
img{
    width:50px
}
.side-login
{
height: 100%;
width: 150px;
left: 0;
top: 0;
padding-top: 40px;
float: left;

}
.main-login
{

top: 10%;
margin-left: 150px;
font-size: 18px;
height: 613px;


}
.login-container .welcome
{
 
  top: 65%;
  left: 25%;  
  color: #fff;
}
 .logo-login 
{
    margin: 35% 0 ;
}

.login-grid .btn-login 
{
   
    background-color: #0063EA;
    width: 150px;
    border: none;
    border-radius: 5px;
    margin-left: 25%;
    padding: 5px;
    color: #fff;
}
.txt-signup
{
   
    bottom: 15%;
    margin-left: 2%;
}
.header-txt 
{
 margin-bottom: 10%;
}
@media only screen and (max-width: 768px) {
    .all-contents 
{
  
    /* height: 100vh; */
    background-size: 100%;
    background-color: #0063EA;
    width: 90vh;
    position: fixed;
} 

.login-container
{
  
    width: 90%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: fixed;
}
.login-card
{
    width: 60%;
    height: 100%;
    
}

.input-login {

   width: 80%;
font-size: 9px;
 
  
}

.side-login
{
height: 100%;
width: 150px;
}
.main-login
{

top: 10%;
margin-left: 20%;
font-size: 18px;
height: 80%;
width: 80%;

}
.login-container .welcome
{
    position:absolute;
  top: 55%;
  left: 2%;  
  font-size: 10px;
  width: 30%;
 
}
.welcome .logo-login 
{
    /* position: absolute; */
    top: -130%;

}

.login-grid .btn-login 
{
    position: fixed;
     width: 30%;  
     font-size: 12px;
     margin-left: 2%;
}
.txt-signup
{
    position:absolute;
  
  font-size: 11px;}

}