.sub
{
    margin: 2% 0;
    color: black;
  
}

.profile-input{
 width: 500px;
border: none;
border-bottom: 2px solid black;
}
/* .profile-main
{
    margin-left:30%;

} */
.profile-main h1{
 
  
    margin-bottom: 55px;

}
@media only screen and (max-width: 745px) {
    
    .sub{

        margin: 5% 0;
    }
    input{width: 200px;}
    .profile-main{
        /* display: flex; */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        min-height: 100vh;
        margin: auto;
        padding: auto;
        height: auto;
    }
    p{
        font-size: 14px;}
    h1{
        font-size: 1.5rem;
      }
      h4{
        font-size: 1.125rem
      }
      .profile-input{
        width: auto;
      }
      .btn-data{
        width: auto;

        height: auto;
      }
    
}