.admin_side_bar{
    width: 200px;
    height: 100%;
    color: whitesmoke;
    font-size: 20px;
    margin: 0 20px;
}
.sidebar-subs{
    margin: 35% 0;
}
.sidenav{
   height: 100%; 
  width: 200px;
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;

}
.sidenav a{
    text-decoration: none;
    padding: 15px 25px;
    font-size: 30px;
    color:#fff;
}