
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Poppins:ital,wght@1,300&display=swap');

  /* .logo a img{
  visibility: hidden;
} */
.topnav {
  background-color: #26272b;
  color: #fff;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  flex-wrap: nowrap;
  /* align-items: center;
  justify-content: center;  */
  /* justify-content: space-between; */

}

.nav-links
{
  padding-left: 25%;
  display: flex;
  
  /* justify-content:space-between; */
  /* gap: 1.2em; */
  align-items:right;
  width: 100%;
  list-style: none;
}
/* .rounded-img{
  padding-left: 36%;
} */

.logo {
  padding-left: 8%;
}
.topnav .navbar-subs {
  margin: 0 20px;
  cursor: pointer;
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 16px;

  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5em;

}

.topnav .navbar-subs:hover {
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.topnav .navbar-subs .split {
  float: right;

  color: white;
}
.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.rounded-img {

  width: 90px;

  border-radius: 50%;

}
.navbar-subs:hover .dropdown-content {
  display: block;
}
.dropdown-content li  {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-content li:hover {
  background-color: #f0f0f0;
}


.navbar-subs:hover .dropdown-menu {
  display: block;
}
.dropdown-menu li a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}


@media screen and (max-height: 600px) {
  .topnav .navbar-subs :not(:first-child) {
    display: none;
  }


}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Show/hide navigation links for smaller screens */
@media (max-width: 1086px) {
  .topnav{
    /* padding-left: 5%;
    padding-right:10%; */
    justify-content: space-between;
  }
  .logo{
    padding-left: 5%;

  }
  .hamburger{
    padding-right:5%;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    float: right;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color:  #26272b;
    z-index: 1;
    transition: all 0.3s ease;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
    
  }
  .navbar-subs a img{
    display: none;
  }
  /* .logo a img{
    visibility: visible;
   
  } */
}
  
  /*  Hover dropdown collaps */
  .dropbtn {
    font-size: 16px;
    border: none;
    margin-left: -16px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown .dropdown-link {
    text-decoration: none;
    list-style: none;
    text-align: left;
    color: white;
    margin-left: -16px;
  
  }
  
  .dropdown .dropdown-link:hover {
    color: rgb(5, 14, 63);
    margin-left: -16px;
  
  }
  
  .dropdown-content {
    display: none;
    background-color: #4f5e37;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-link {
    color: black;
    margin: 0;
  }
  
  .dropdown-content .dropdown-link:hover {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 100%;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(107, 104, 104, 0.61);
  }
  
  @media screen and (max-height: 600px) {
    .topnav .navbar-subs :not(:first-child) {
      display: none;
    }
  
  
  }
  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  @media (max-width: 1480px) {
    .topnav{
      /* padding-left: 5%;
      padding-right:10%; */
      justify-content: space-between;
      width: 100%;
    }
    .logo{
      padding-left: 5%;
  
    }
    .hamburger{
      padding-right:5%;
    }
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      /* width: 50%; */
      background-color:#26272b;
      z-index: 1;
      transition: all 0.3s ease;
  
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .hamburger {
      display: block;
      
    }
    .navbar-subs a img{
      display: none;
    }
    .logo a img{
      visibility: visible;
     
    }
   
  }