.logo a img{
  visibility: hidden;
}
.topnav {
  /* background-color: linear-gradient(#4884EE,#06BCFB); */
  background-color:#26272b;
  color: #fff;
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; 
 
}
.nav-links
{
display: flex;
justify-content: space-around;
width: 100%;
}
.topnav .nav-links .navbar-subs {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 10%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5em;
  font-weight: bolder;


}

.topnav .navbar-subs:hover {
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.topnav .navbar-subs .split {
  float: right;

  color: white;
}

.rounded-img {

  width: 90px;

  border-radius: 50%;

}
@media screen and (max-height: 600px) {
  .topnav .navbar-subs :not(:first-child) {
    display: none;
  }


}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .topnav{
    /* padding-left: 5%;
    padding-right:10%; */
    justify-content: space-between;
  }
  .logo{
    padding-left: 5%;

  }
  .hamburger{
    padding-right:5%;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color:#26272b;
    z-index: 1;
    transition: all 0.3s ease;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
    
  }
  .navbar-subs a img{
    display: none;
  }
  .logo a img{
    visibility: visible;
   
  }
}