
.contact-info{
    display: flex;
    background-color:#4f5e37;
    text-align: center;
 
   
    
}

.contact_detail{
    margin: 0 20px;
    margin-left: 10%;
    font-size: 12px;
   
}
.contact_detail h2
{
    font-size: 20px;
}

.end_footer{
    text-align: center;
    background-color:#4f5e37;
    width: 100%;
    
}