

.register-popup1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.register-popup{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #E1E4E8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-popup-inner{
    padding: 70px;
    width: 100%;
    max-width: 540px;

    background-color: white;
    position: relative;
}

.popup-inner-header {
    position: absolute;
    font-size: 2em;
    transform: translate(-50%, -50%);
    text-align: right;
    top: 15px;
    right: 15px;
}
