.content{
  font-size: 20px;
  min-height: 100vh;
 }
 .select-sampling_data
 {
  border: 1px solid #09330d;
 }
 /* .select-sampling_data:hover
 {
  background-color:#09330d;
  color: white;
 } */
 .control-form
 {
 background-color: #fff;
 color: black;
 }
 .control-form:hover
 {
  
  color: #09330d;
 }
 .container-wrapper
 {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #E1E4E8;
  border-radius: 15px;
  padding-top: 10px; 
  width: 80%;
  min-height: 80vh;
  text-align: center;
 }
 h2
 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 400;
  word-spacing: 1px;
  line-height: 1.5em;
  padding-bottom: 15px;
 font-family:'Lucida Grande'
 }


 .form-group{
    padding: 10px;
     display: flex;
     flex-direction: column;
     margin: 15px 0;
 }
 .hero-all
 {
     /* background-color: #0063EA;  */
     background-color: #ffffff;
   
 }

 .level_popup{
  margin: 5px 25px;
  border-radius: 5px;
 }
.samp_header
{
  color: 	#00b1ff;
  font-family: poppins;
  font-weight: bold;
  text-align: center;
}
 .level1_class{
  background-color: #82d1dbad;
  border: none;
  width: 50%;
  font-weight: bold;
  color: rgb(24, 3, 3);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: poppins;
 }
 .level1_class:hover {
  background-color: rgb(133, 204, 252);
  color: whitesmoke;
}
 .level2_class{
  background-color: #50524dad;
  border: none;
  width: 50%;
  font-weight: bold;
  color: rgb(24, 3, 3);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: poppins;
 }
 .level2_class:hover {
  background-color: rgba(194, 192, 190, 0.856);
  color: whitesmoke;
}
 .level3_class{
  background-color: #b6dd7cad;
  border: none;
  width: 50%;
  font-weight: bold;
  color: rgb(24, 3, 3);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: poppins;
 }
 .level3_class:hover {
  background-color: rgba(115, 148, 96, 0.842);
  color: whitesmoke;
}

   select{
     width: 50%;
   }
   .btn-data
   {
     width: 201px;
     height: 32px;
    color: #fff;
     background-color: #09330d; 
     border-radius: 5%;
     border: none;
   }
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media (max-width: 768px) {
      .select-sampling_data:hover{
        background-color: rgb(7, 65, 224);
        color: white;
      }
    }